body {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 18px;
  font-weight: bold;
}

h1 i.fa,
h2 i.fa,
h3 i.fa,
h4 i.fa,
h5 i.fa {
  margin-right: 10px;
  font-size: 1.2em
}

i.fa + span {
  margin-left: 4px;
}

.green {
  color: green;
}
.red {
  color: red;
}
.orange {
  color: orange;
}
.btn {
  margin-top: 5px;
}
/**
  NAVBAR
**/
.nav > li > form {
  padding: 15px;
}
.navbar {
  -webkit-transition: background-color .3s ease-in;
  transition: background-color .3s ease-in;
}
.navbar .btn {
  font-size: 1em;
}
.navbar-default .navbar-nav > li > .external-link {
  color: #fb8c00;
}
.navbar-transparent .navbar-nav > li > .external-link {
  color: #fb8c00;
}
.nav-tabs {
  margin-bottom: 15px;
}
@media (max-width:768px) {
  .navbar-transparent .navbar-brand {
    display: none;
  }
}
@media (min-width:768px) {
  .navbar-transparent {
    background-color: rgba(69, 153, 72, 0);
  }
  .navbar-transparent a {
    color: white;
  }
}

/**
  DESCRIPTION CONTENT
**/
.description-content {
  background: #469a48;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
  color: #fff;
  text-shadow: 0px 0px 12px #505050;
}
.description-icon {
  display: block;
  padding: 38px 0 38px 0;
  margin-bottom: 5px;
  background: url(../img/bg_description_icon.svg);
  color: #f4e5ff;
  font-size: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  text-shadow: none;
}
h1 i.fa.description-icon,
h2 i.fa.description-icon,
h3 i.fa.description-icon,
h4 i.fa.description-icon,
h5 i.fa.description-icon {
    margin-right: 0px;
}
.description-content h3, .description-content .h3 {
  color: #fb8c00;
}
.description-content p {
  font-size: 1.1em;
}
.description-content button i {
  margin-right: 10px;
}
.description-content .tile {
    text-shadow: none;
}
#faq_content *{
  text-align: left;
}

header {
  background: #469a48;
  color: white;
}

header>div {
  background: url("../img/background_repeat.png") repeat !important;
}

/**
  SPLASH SCREEN
**/
.splash {
  position: relative;
  height: 100vh;
  color: #fff;
  top: 0px;
  left: 0px;
  background-attachment: fixed;
  background: url("../img/background_repeat.png") repeat !important;
}
.splash #background {
  position: relative;
  background-attachment: fixed;
  background: linear-gradient(to left, #56ba5a, #439445) !important;
  z-index: -10;
  min-height: 100vh;
  transform: skewY(-16deg);
  transform-origin: bottom left;
}
.splash .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.splash h1 {
  font-size: 3em;
  color: #fff;
}
.splash h2 {
  color: #fff;
  font-size: 1.4em;
  margin-top: 0.4em;
}
.splash h3 {
  font-size: 1.2em;
  margin-top: 1em;
  color: #c996e9;
  text-shadow: 0px 1px 2px #000;
}
.splash p {
  font-size: 1.1em;
  color: #fff;
}
.splash img {
  max-width: 325px;
  margin: auto;
}
.splash .title {
  text-align: left;
  margin-top: 140px;
}
.splash .splash-form {
  text-align: left;
}
.splash .bottom {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
}
.splash .bottom img {
  margin: 18px;
}
.splash .alert {
  margin: 2em 0;
}
.splash .scrollTo img {
  width: 22px;   
}
@media (max-width:767px) {
  .splash h1 {
    font-size: 3.2em;
  }
  .splash h2 {
    font-size: 1.6em;
  }
  .splash h3 {
    font-size: 1.2em;
  }
  .splash p {
    font-size: 1em;
  }
  .splash .title {
    margin-top: 0px;
  }
  .splash img {
    display: none;
    max-width: 250px;
  }
  .splash .container {
    width: 100%;
  }
}

/*
  SECTION
*/
.section {
    padding: 2.5em 0 2.5em 0;
}
.section-bg-light {
}
.section-bg-light h1,
.section-bg-light h2,
.section-bg-light h3 {
    color: #469a48;
}
.section-bg-dark {
    background-color: #469a48;
    background-size: cover;
    color: #F5F5F5;
}
.section-bg-dark h1,
.section-bg-dark h2,
.section-bg-dark h3 {
    color: #fff;
}
.section-smallTop {
    padding-top: 6px;
}
@media (max-width:767px) {
  .section-bg-projects h1,
  .section-bg-projects h2,
  .section-bg-projects h3 {
    font-size: 23px;
    max-width: 100px;   
  }
}
@media (max-width:300px) {
  .section-bg-projects h1,
  .section-bg-projects h2,
  .section-bg-projects h3 {
    font-size: 16px;
    max-width: 80px;
  }
}


/**
  FOOTER
**/
footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
footer p {
  clear: left;
  margin-bottom: 0;
}

/*
  MODAL
*/
.modal-dialog {
  margin: 30px auto;
}
.modal-title a {
  color: #565656;
}
/*
  TABLE
*/
table thead {
  background-color: #DF3E32;
  font-weight: bold;
  color: white;
}
table td.high-height {
  height: 250px;
}
table td.medium-height {
  height: 126px;
}
table td.title {
  background-color: #743998;
  font-weight: bold;
  color: white;
}
table td i.fa {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.2em
}
table > tbody > tr:nth-of-type(2n+1) > td.title {
  background-color: #6a308d;
}
table .col-hidden {
  background-color: #dbc1ec;
  max-width: 20px;
  display: none;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}
table .col-hidden > * {
  display: none;
  -webkit-transition: width 0.5s; /* Safari */
  transition: width 0.5s;
}

/*
 * CRYPTO
 */
.cryptokey {
    text-align: center;
    padding: 18px;
    background: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow-x: scroll;
    overflow-y: hidden;
}
.cryptokey img {
    padding-bottom: 16px;
    max-width:100%;
    max-height:100%;
}
@media (max-width:767px) {
  .cryptokey a {
    font-size: 0.8em;      
  }
}
@media (max-width:300px) {
  .cryptokey a {
    font-size: 0.6em;      
  }
}

/*
 BUTTON
 */
.btn .fa {
  margin-right: 5px;
}
.social {
  font-size: 2.6em;   
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.social .fa {
  color: #fb8c00;
}
.social .fa:hover {
  color: #469a48;
}
@media (max-width:767px) {
  .social {
    font-size: 1.6em;      
  }
}
@media (max-width:300px) {
  .social {
    font-size: 1.4em;      
  }
}

/*
 TILE
*/
.tile {
  background: #469a48;
  padding: 0px 20px 20px 20px;
  color: #efefef;
  overflow: hidden;
  outline: 0;
  border: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5 {
  color: #fff;
}
.tile h1,
.tile h2,
.tile h3 {
}
.tile ul {
  padding-left: 5px;
}


/*
  Projects
*/
.project-item {
  min-height: 540px;
  padding-top: 60px;
}
.project {
  background: #9558ba;
  background: -webkit-linear-gradient(#9558ba, #7e48a1);
  background: -o-linear-gradient(#9558ba, #7e48a1);
  background: -moz-linear-gradient(#9558ba, #7e48a1);
  background: linear-gradient(#9558ba, #7e48a1);
  border-radius: 18px;
  webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0 0 0 0;
  margin: 22px 0 0 0;
}
.project-logo {
  float: left;
  border-radius: 10%;
  width: 96px;
  height: 96px;
  padding: 0 0 0 0;
  margin: -50px 0 0 20px;
}
.project-logo img {
  display: block;
  margin: auto auto;
}
.project-image {
  padding: 0;
  margin: 0 0 0 10px;
  float: right;
  max-width: 42%;
}
.project-image img {
  border-radius: 8px;
  border: 0;
  -webkit-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4), 0 3px 6px rgba(0, 0, 0, 0.4);
  margin: 20px 0 10px 0;
  max-width: 110%;
  max-height: 420px;
}
.project-description {
  padding: 8px 20px;
  margin: 0 0;
  text-align: center;
}
.project-description p {
  margin-top: 16px;
  color: #4a4a4a;
  line-height: 160%;
}
.project-description .btn {
  margin-bottom: 12px;
}
.project-links {
  border-radius: 0 0 18px 18px;
  background: white;
}

@media (max-width:767px) {
  .project-image img {
    max-height: 410px;
  }
}
@media (max-width:300px) {
  .project-item {
    min-height: 580px;
  }
  .project-image img {
    max-height: 260px;
  }
}

/*
CONTRIBUTE
*/
.section ul {
  padding: 0px;
}
.section li {
  list-style-type: square;
  text-align: left;
  margin: 6px 24px;
}
