<section id="donation">
    <div class="container-md">

        <div class="section-title">
            <h2 class="card-title">Donation</h2>
            <p>A small donation makes all the difference, you increase the motivation to allow regular updates.</p>
        </div>

        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="tile">
                    <h3><fa-icon [icon]="faCoffee"></fa-icon>Tip</h3>
                    <p>A tip supports the work done and shows your interest in the project. <br />The bugs are eradicated thanks to you. </p>
                    <div class="btn-group-vertical btn-block" role="group" aria-label="tips">
                        <a class="btn btn-secondary" title="Donate Google Play" href="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.pro&hl=en&gl=US"><fa-icon [icon]="faGooglePlay"></fa-icon>Google Play</a>
                        <a class="btn btn-outline-secondary" title="Donate Paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KM6QMDAXZM3UU"><fa-icon [icon]="faPaypal"></fa-icon>Paypal / Credit Card</a>
                        <!-- <a class="btn btn-outline-secondary disabled" title="Donate RIB/IBAN" role="button" aria-disabled="true"><fa-icon [icon]="faCreditCard"></fa-icon>RIB / IBAN [Soon]</a>-->
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="tile tile-border-top">
                    <h3><fa-icon [icon]="faHeart"></fa-icon>Regular donations</h3>
                    <p>Regular donations are a very elegant way to get involved in the project. <br />You ensure the perenity of the code and the application.</p>
                    <div class="btn-group-vertical btn-block" role="group" aria-label="donations">
                        <a class="btn btn-outline-secondary" title="Donate Liberapay" href="https://liberapay.com/Kunzisoft/donate"><fa-icon [icon]="faCreditCard"></fa-icon>Liberapay</a>
                        <a class="btn btn-secondary" title="Donate Paypal" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KM6QMDAXZM3UU"><fa-icon [icon]="faPaypal"></fa-icon>Paypal / Credit Card</a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div id="tile-cryptocurrency" class="tile">
                    <h3><fa-icon [icon]="faBitcoin"></fa-icon>Crypto-currency</h3>
                    <p>
                        Digital donation system with decentralized currency.
                    </p>
                    <div role="group" aria-label="cryptocurrencies">
                        <div *ngFor="let item of mainCryptoCurrencies" class="btn-block" >
                            <div *ngIf="!walletAvailable(item) else dynamicSend" class="btn" [ngClass]="{'btn-outline-secondary': !item.highlighted, 'btn-secondary': item.highlighted}" (click)="requestOpenCryptoCurrencyModal(item)">
                                <fa-icon [icon]="item.icon"></fa-icon>{{ item.name }} ({{ item.currency }})
                            </div>
                            <ng-template #dynamicSend>
                                <form #cryptoSendForm="ngForm" class="form-inline" title="Donate {{ item.name }}">
                                    <div class="btn-group">
                                        <div *ngIf="!walletConnected(item)" class="btn btn-secondary" (click)="connectWallet(item)">
                                            <fa-icon [icon]="faWallet"></fa-icon>Connect {{ item.currency }} Wallet <fa-icon [icon]="item.icon"></fa-icon>
                                        </div>
                                        <input *ngIf="walletConnected(item)" name="amount" ngModel="{{ item.defaultValue }}" type="number" min="0" step="{{ item.defaultValue }}" class="currency form-control" [id]="'id'+item.name">
                                        <button *ngIf="walletConnected(item)" type="submit" class="btn" [ngClass]="{'btn-outline-secondary': !item.highlighted, 'btn-secondary': item.highlighted}" (click)="send(item, cryptoSendForm)">
                                            Send {{ item.currency }} <fa-icon [icon]="item.icon"></fa-icon>
                                        </button>
                                        <div class="btn" [ngClass]="{'btn-outline-secondary': !item.highlighted, 'btn-secondary': item.highlighted}" (click)="requestOpenCryptoCurrencyModal(item)">
                                            +
                                        </div>
                                    </div>
                                </form>
                            </ng-template>
                            <app-cryptocurrency-detail [cryptocurrency]="item"></app-cryptocurrency-detail>
                        </div>

                        <div ngbDropdown class="btn-block">
                            <button class="btn btn-block btn-primary" id="btnGroupAltCrypto" type="button" ngbDropdownToggle>
                              More
                            </button>
                            <div ngbDropdownMenu aria-labelledby="btnGroupAltCrypto" class="btn-block text-center">
                                <div class="btn btn-block" *ngFor="let altItem of altCryptoCurrencies" (click)="requestOpenCryptoCurrencyModal(altItem)" ngbDropdownItem>
                                    <fa-icon [icon]="altItem.icon"></fa-icon>{{ altItem.name }} ({{ altItem.currency }})
                                    <app-cryptocurrency-detail [cryptocurrency]="altItem"></app-cryptocurrency-detail>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
                <div id="tile-rewards" class="tile tile-border-top">
                    <h3><fa-icon [icon]="faTreasure"></fa-icon>Rewards</h3>
                    <form class="form-inline col-auto justify-content-center">
                        <div class="form-group">
                            <label for="issueNumber">Issue</label>
                            <input type="number" min="1" step="1" class="form-control" id="issueNumber" placeholder="optionnal">
                        </div>
                        <div class="form-group">
                            <label for="ethereumAmount">ETH</label>
                            <input type="number" value="0.01" min="0" step="0.01" class="currency form-control form-control-lg" id="ethereumAmount" placeholder="0.01">
                            <button type="submit" class="btn btn-lg btn-primary">Mint</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>