form label
    margin-right: 8px
    margin-left: 12px
    margin-bottom: 0px

#tile-cryptocurrency .form-control
    min-width: 60px
    height: auto

#tile-cryptocurrency .form-inline
    display: contents

#tile-rewards .form-control
    width: 140px

ngb-alert
    word-wrap: break-word   
    text-align: center

.reward-img-wrapper img
    max-width: 240px

.form-control
    width: 140px

.btn-outline-secondary, .btn-group, .btn-block, .btn-block .btn-secondary, #btnGroupAltCrypto
    width: 100%
