<footer>
    <div class="container-md">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p class="copyright">
                    <span>Powered by </span><a href="https://www.kunzisoft.com">Kunzisoft</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <p class="copyright text-right">Copyright &copy; KeePassDX {{ year }}. <span>All rights reserved</span></p>
            </div>
        </div>
    </div>
</footer>