<section id="contribution">
  <div class="container-md">

    <div class="section-title">
      <h2 class="card-title">Maintenance</h2>
      <p>KeePassDX could not exist without you, we need you to maintain the app.</p>
    </div>

    <div class="row">

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="tile">
          <h3><fa-icon [icon]="faGlobe"></fa-icon>Translation</h3>
          <p>You can translate into a language you know, and correct mistakes.</p>
          <a class="btn btn-outline-secondary btn-block" title="Translate" href="https://hosted.weblate.org/projects/keepass-dx/strings/"><fa-icon [icon]="faLanguage"></fa-icon>Translate</a>
        </div>
      </div>

      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="tile tile-border-top">
          <h3><fa-icon [icon]="faComment"></fa-icon>Feedback</h3>
          <p>Express yourself and leave your comment, the applications are improved thanks to your recommendations.</p>
          <div class="btn-group-vertical btn-block" role="group" aria-label="feedbakc">
            <a class="btn btn-secondary" href="https://github.com/Kunzisoft/KeePassDX/issues" title="Issues"><fa-icon [icon]="faBug"></fa-icon><b>Issues</b></a>
            <a class="btn btn-outline-secondary" href="mailto:contact@kunzisoft.com" title="Ask community"><fa-icon [icon]="faEmail"></fa-icon><b>contact@kunzisoft.com</b></a>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="tile">
          <h3><fa-icon [icon]="faCode"></fa-icon>Code</h3>
          <p>You can develop the features you want to see implemented, it's open source.</p>
          <a class="btn btn-outline-secondary btn-block" title="Code" href="https://github.com/Kunzisoft/KeePassDX"><fa-icon [icon]="faGithub"></fa-icon>Code</a>
        </div>
      </div>

    </div>
  </div>
</section>