@import "../../variables"

#splash
    position: relative
    background: url(assets/img/background_repeat.png),#449e47
    background-repeat: repeat, no-repeat
    width: 100%
    padding-top: 120px
    padding-bottom: 60px

#splash #logo
    width: 128px
    margin-bottom: 12px

#splash h1
    margin: 0 0 10px 0
    font-size: 48px
    font-weight: 700
    line-height: 56px
    color: #fff

#splash h2
    color: rgba(255, 255, 255, 0.6)
    margin-bottom: 50px
    font-size: 24px

#device
    margin-top: 48px
    margin-bottom: 24px
