<section id="splash">
    <div class="container-md">
        <div class="row">
        <div class="col-sm-6 col-sm-8 col-md-8 d-flex flex-column justify-content-center">
            <img id="logo" src="assets/img/keepassdx.svg" alt="KeePassDX" class="img-fluid" />
            <h1 data-l10n-id="open_source_passord_manager"><small>Open source</small><br /> Password Manager <br /><small>for Android</small></h1>
            <h2 data-l10n-id="title_description">Save and use passwords, keys and digital identities in a secure way by integrating the Android design standards.</h2>
            <div>
                <a class="btn btn-lg btn-primary mr-2 mt-2 popup-modal" href="https://www.f-droid.org/packages/com.kunzisoft.keepass.libre/"><fa-icon [icon]="faLinux"></fa-icon>F-droid</a>
                <a class="btn btn-lg btn-secondary mr-2 mt-2 popup-modal" href="https://play.google.com/store/apps/details?id=com.kunzisoft.keepass.free"><fa-icon [icon]="faAndroid"></fa-icon>Play Store</a>
                <a class="btn btn-lg btn-secondary mr-2 mt-2 popup-modal" href="https://github.com/Kunzisoft/KeePassDX/releases"><fa-icon [icon]="faDownload"></fa-icon>Repo</a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-4 col-md-4 device">
            <img id="device" src="assets/img/device.png" class="img-fluid" alt="device">
        </div>
        </div>
    </div>
</section>
