<nav class="navbar fixed-top navbar-dark bg-secondary navbar-shadow">
  <div class="container-md">
    <a class="navbar-brand" href="#download"><img id="logotype" src="assets/img/logotype.svg" alt="logotype" /></a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="#help"><fa-icon [icon]="faHelp"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#icons"><fa-icon [icon]="faIcons"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#donation"><fa-icon [icon]="faDonation"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact"><fa-icon [icon]="faContact"></fa-icon></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#download"><fa-icon [icon]="faDownload"></fa-icon></a>
      </li>
    </ul>
  </div>
</nav>
