$primary: #e68408
$secondary: #43a047
$light: #d8f7d9
$dark: #105012
$primary-light: #ffb24d
$text-on-primary: #fff
$text-on-secondary: #fff

$body-bg: #f3f5fa
$body-color: #111

$enable-shadows: true
$border-radius: 4px
$border-radius-lg: 4px
$border-radius-sm: 4px

$dropdown-link-color: #43a047